<!DOCTYPE html>

<h1><%= deneme%></h1>


<h3>This application was made by Oguzhan and I am writing to improve myself on the concept of Node Js mvc.</h3>
<h4>Please let's not violate the license rules</h4>
<h4>This software is under development</h4>
<h5>non-commercial</h5>