<body>

<div class="row" style="padding-top: 30px;">
    
<div class="col-4"></div>
<div class="col-8">


<% if(typeof(message)!== 'undefined') { %>
  
<h1 class=" "><%= message %> </h1>
<h3>Make sure that the information on your CV is clear.</h3>
   <h3>If you are ready</h3>
<button class="btn btn-outline-light text-dark">
    <span class="spinner-border spinner-border-sm"></span>
   
  </button>
  
  <button  class="btn btn-outline-secondary">
   

   <a  href="login/makeCv" style="text-decoration: none ; color: black"> LETS START CV CREATE   </a>
  
  </button>
<% } %> 
</div>

</body>
