<html>
    <div class="row">
        <div class="col-sm-4">      </div>
        <div class="col-sm-4"><h1>What Is The Minimalist CV Creator ???</h1></div>
        <div class="col-sm-4"></div>
      </div>
      <div class="row" style="margin-top: 100px;"></div>
      <div class="row">
        <div class="col-sm-1">  </div>
        <div class="col-sm-3"> <h3>Create Cv Simply And Free</h3>  </div>
       
        
        <div class="col-sm-4"><img  class="img-fluid" src="/public/picture/CVexapmle.jpg" > </div>
        <div class="col-sm-1">  </div>
        <div class="col-sm-2"><h3>Save your Time And Money </h3>  </div>
        
      </div>
     

</html>