<!DOCTYPE html>
<html lang="en">
<head>
  <title>navbar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=2">
  
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <a class="navbar-brand" >Minimalist_CV_Creator</a>
  <div class="collapse navbar-collapse justify-content-end"><a class="navbar-brand" href="/"> Sign Out </a></div>
  
  

</nav>
<br>
  


</body>
</html>
